.container_slider{
    margin-top: 50px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.slider{
    display: flex;
    width: 300%;
    height: auto;
    /*  margin left -100 para que se centre en 1 imagen antes de la primera
    para poder generar el efecto de movimiento*/
    margin-left: -100%;
}
.slider__section{
    color:aliceblue;
}
.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__btn{
    font-family: monospace;
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(255,255,255, 0.5);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;  
}
.slider__btn:hover{
    color:aliceblue;
}
.slider__btn--left{

    left: 10px;
}
.slider__btn--right{
    right: 10px;
}