@font-face {
    font-family: 'Bevietnam_regular';
    src: url('../fonts/BeVietnamPro-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  } 
*{
    margin:0px;
    padding: 0px;
}
/* clases para el menu */
.categoriasMotos{
    display: flex;
    background: #1A1A1A;
    padding: 10px;
    color: black;
    position: absolute;
    margin-top: 18px;
    flex-flow: column;
}.categoriasMotos li{
    margin:10px 0px 10px 0px;
}

.subMenuLogin{
    display: flex;
    background: #1A1A1A;
    padding: 10px;
    color: black;
    position: absolute;
    margin-top: 18px;
    margin-left: -302px;
    flex-flow: column;
}
.subMenuLogin form input[type=button]{
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
}

/* Clases de las motos Top Indice */
.itemTopMotos{
    display: flex;
    width: 300px;
    flex-direction: column;
    padding: 13px;
    border: #3b2c2c 1px solid;
    margin: 10px;
    align-items: center;
    border-radius: 10px;
}
.itemTopMotos:hover{
    background-color: #B6001E;
    color: white;
    transition: all 1s;
    cursor: pointer;
}
.botonComprarMoto{
    width: 100px;
    padding: 10px;
    border-radius: 12px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    border:1px black;
    background: black;
    color: white;
}

.moto-img{
    width: 200px;
    height: 200px;
}
.contenedor-motos{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* terminan las clases de motos Top */
.hidden{
    display: none;
}
ul li{
    list-style: none;
}
.nav__menu li a{
    color: white;
    text-decoration: none;
}

.nav{
    z-index: 2;
    background: black;
    height: 50px;
    color: white;
    position: fixed;
    width: 100%;
}
.nav__logo{
    font-size: 1.5em;
    font-weight: 900;
}
.nav__logo img{
    width: 50px;
}
.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav__label, .nav__input{
    display: none;
}
.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}
.nav__item{
    color:white;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    
}
.nav__item a:hover{
    color:#AB001C;
    transition: all 0.5s;
}
.nav__item img{
    color: #ffffff;

}
.nav__item::after{
    content: "";
    display: block;
    background: white;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}
.nav__item:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
body{
    font-family: 'Bevietnam_regular', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

@media (max-width: 700px){
    .nav__label{
        display: block;
        cursor: pointer;
    }
    .nav__menu{
        position: fixed;
        top:80px;
        bottom: 0;
        background: #3b2c2c;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }
    .nav__input:checked + .nav__menu{

        clip-path: circle(100% at center);
    }
}